@font-face {
  font-family: PixelFont;
  src: local("PixelFont"), url("./assets/fonts/DotGothic16-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: PixelFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
